@import '../../styles/shared.scss';

.chatroom-name {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  flex: 0 0 auto;
  padding: 20px;
  margin: 0px;
}

.chat-container {
  flex: 1 1 auto;

  display: flex;
  height: 100%;
  width: 100%;
}

.message {
  padding: 0px;
  margin: 5px 10px;

  display: flex;
  flex-direction: column;

  .name {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 5px;
  }

  .chat-bubble {
    border: 3px solid $backgroundColor-1;
    padding: 10px;

    .text {
      padding: 0px;
      margin: 0px;
    }

    .emoji {
    }
  }

  &.left {
    align-items: flex-end;

    .name {
      padding-right: 20px;
    }

    .chat-bubble {
      border-radius: 20px 20px 0px 20px;
    }
  }

  &.right {
    align-items: flex-start;
    .name {
      padding-right: 20px;
    }

    .chat-bubble {
      border-radius: 20px 20px 20px 0px;
    }
  }
}

.chat-input-container {
  border: 2px solid red;
  width: 100%;

  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .profile-image {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    border: 2px solid green;
    margin-right: 20px;
  }

  .text-input {
    height: 100%;
    flex: 1 0 auto;
    align-self: flex-end;
    padding-left: 10px;
  }

  .submit-button {
    height: 100%;
    padding: 0px 20px;
  }
}
