$circleDiameter: 60px;

.chatContainer {
  flex: 0 0 200px;
  // border: 2px solid red;
  padding: 10px;
  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(37, 44, 74, 0.7);
  cursor: pointer;

  .imgContainer {
    height: $circleDiameter;
    width: $circleDiameter;
    border-radius: 50%;
    margin: 0px;

    flex: 0 0 $circleDiameter;

    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    background-image: radial-gradient(
      ellipse at ($circleDiameter / 4) ($circleDiameter / 10),
      #ffffff 0%,
      hsl(128, 100%, 93%) 5%,
      hsl(171, 66%, 49%) 100%
    );
    border-radius: 50%;
    position: relative;

    .imgText {
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 20px;
      text-align: center;
      color: white;
      margin: 10px;
    }
  }

  .chatText {
    flex: 1 0 auto;
    color: white;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
    text-align: center;
  }

  .buttons {
    flex: 0 0 100px;

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .button {
      border: none;
      padding: 5px 10px;
      border-radius: 50px;
      background-image: linear-gradient(
        135deg,
        hsl(299, 54%, 34%),
        hsla(341, 78%, 56%, 1)
      );
      color: white;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
      cursor: pointer;
      transition: outline 1s ease-in-out;

      :focus {
        outline: none;
      }
    }
  }

  &:nth-child(2n) {
    .imgContainer {
      background-image: radial-gradient(
        ellipse at ($circleDiameter / 4) ($circleDiameter / 10),
        #ffffff 0%,
        hsl(347, 90%, 98%) 5%,
        hsl(347, 90%, 76%) 100%
      );
    }
  }

  &:nth-child(3n) {
    .imgContainer {
      background-image: radial-gradient(
        ellipse at ($circleDiameter / 4) ($circleDiameter / 10),
        #ffffff 0%,
        hsl(225, 94%, 99%) 5%,
        hsl(225, 94%, 69%) 100%
      );
    }
  }

  &:nth-child(4n) {
    .imgContainer {
      background-image: radial-gradient(
        ellipse at ($circleDiameter / 4) ($circleDiameter / 10),
        #ffffff 0%,
        hsl(312, 84%, 98%) 5%,
        hsl(312, 84%, 60%) 100%
      );
    }
  }

  &:nth-child(5n) {
    .imgContainer {
      background-image: radial-gradient(
        ellipse at ($circleDiameter / 4) ($circleDiameter / 10),
        #ffffff 0%,
        hsl(254, 100%, 98%) 5%,
        hsl(254, 100%, 58%) 100%
      );
    }
  }
}
