@import '../../styles/shared.scss';

$layoutColor: rgba(5, 0, 122, 0.46);
$layoutColor2: rgba(58, 22, 76, 0.8);

.layout {
  width: 100%;
  height: 100%;
  background-color: $layoutColor2;
  border-radius: 5px;

  box-shadow: 1px 5px 15px 5px rgba(0, 0, 0, 0.1);
  padding: 0rem;

  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
  z-index: 0;
  overflow: hidden;

  @include ResponsiveMobileFirst(tab) {
    width: 92.5%;
    height: 92.5%;
  }

  .nav {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;

    .navLink {
      text-decoration: none;
      margin-right: 10px;

      &:link,
      &:visited,
      &:active {
        text-decoration: none;
        color: inherit;
      }

      &.activeLink {
        font-weight: 700;
      }
    }
  }

  .content {
    flex: 1 0 70%;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
  }

  .footer {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
  }
}
